<a href="https://colab.research.google.com/github/jgvroallos/DSA-CPE010-CPE21S4/blob/main/Exercise_3_DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Algorithm for Getting Area of a Circle

In [15]:
#Area-Circle - A = pi*r**2

pi = 3.141592653589793

def Radius(r):
    return pi*r**2

def Diameter(d):
    return pi*(d/2)**2

filter = input("What is the given unit? [1] Radius, [2] Diameter: ")
value = input("Enter value: ")

if filter == '1':
    r = float(value)
    print("Area is ", Radius(r))
elif filter == '2':
    d = float(value)
    print("Area is ", Diameter(d))
else:
    print("Invalid input.")

What is the given unit? [1] Radius, [2] Diameter: 1
Enter value: 5
Area is  78.53981633974483

In [14]:
#Area-Circle - A = pi*r**2

pi = 3.141592653589793

def Radius(r):
    return pi*r**2

def Diameter(d):
    return pi*(d/2)**2

filter = input("What is the given unit? [1] Radius, [2] Diameter: ")
value = input("Enter value: ")

if filter == '1':
    r = float(value)
    print("Area is ", Radius(r))
elif filter == '2':
    d = float(value)
    print("Area is ", Diameter(d))
else:
    print("Invalid input.")

What is the given unit? [1] Radius, [2] Diameter: 2
Enter value: 10
Area is  78.53981633974483

# Arrays

Accessing the Elements in the Array

In [17]:
animals = ["cat", "dog", "fish"]
x = animals[0]
print(x)

cat

Modifying Elements in the Array

In [18]:
animals = ["cat", "dog", "fish"]
animals[0] = "monkey"
print(animals)

['monkey', 'dog', 'fish']

Identify Length of Array

In [20]:
animals = ["monkey","cat", "dog", "fish"]
x = len(animals)
print(x)

4

Looping Array Elements

In [22]:
animals = ["monkey","cat", "dog", "fish"]

for x in animals:
  print(x)

monkey
cat
dog
fish

Adding Elements in the Array

In [26]:
animals = ["monkey","cat", "dog", "fish"]
animals.append("bird")
print(animals)

['monkey', 'cat', 'dog', 'fish', 'bird']

Remove an Item in the Array List

In [28]:
animals = ["monkey","cat", "dog", "fish"]
animals.pop(2)
print(animals)

['monkey', 'cat', 'fish']

Inserting Elements to an Array

In [29]:
animals = ["monkey","cat", "dog", "fish"]
animals.insert(1, "bird")
print(animals)

['monkey', 'bird', 'cat', 'dog', 'fish']

# Activity / Task

Remove an Item with a Specified Index in an Array

In [36]:
animals = ["monkey","cat", "dog", "fish"]
animals.pop(0)
print(animals)

['cat', 'dog', 'fish']

Remove an Item with a Specified Value in an Array

In [35]:
animals = ["monkey","cat", "dog", "fish"]
animals.remove("fish")
print(animals)

['monkey', 'cat', 'dog']

Reverse the Order of Items in an Array

In [31]:
animals = ["monkey","cat", "dog", "fish"]
animals.reverse()
print(animals)

['fish', 'dog', 'cat', 'monkey']